DEBUG=True
SECRET_KEY=django-insecure-change-this-in-production-f8319f074d284f3e827b5880
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=blog_db
DB_USER=deepak_sharma
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
